<ion-content>
    <div class="login-section ion-padding">
        <div class="heading ion-padding">
            <h1 style="color:black">Cadastre-se</h1>
            <p>Preencha para cadastrar seu usuário</p>
        </div>
        <div class="login-form ion-padding">
            <div class="form-input">
                <ion-icon name="person"></ion-icon>
                <ion-item>
                    <ion-label position="floating">NOME</ion-label>
                    <ion-input type="name"></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">E-MAIL</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">SENHA</ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
            </div>
        </div>
        <div class="action-button ion-padding">
            <ion-button size="large" routerLink="/home" class="signup-button" fill="outline">Cadastrar</ion-button>
        </div>
    </div>
</ion-content>